pytest==8.3.5
pylint==3.3.6
click==8.1.8
databricks==0.2
databricks-cli==0.18.0
ipython==8.34.0
databricks-sql-connector==4.0.2
databricks-connect==10.4.67
fastapi==0.115.12
uvicorn[standard]==0.34.0
dask==2025.3.0
dask[distributed]==2025.3.0
jupyter==1.1.1
s3fs==2025.3.2
bokeh==3.7.2
streamlit==1.44.1